<!DOCTYPE html>
<html>
  <head>
    <title>LibraryPages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap" type='text/css' >
  </head>

  <div>
  <body>
    <%= yield %>
  </body>
  </div>
</html>
